<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
        <title>Shop</title>
    </head>

    <body>
        <div class="container-fluid">

            <!-- HEADER -->
            <div class="row">
                <nav class=" header col-12 navbar navbar-light bg-dark">
                        <a class="navbar" href="/">
                        <img src="images/bike-logo.svg" width="50" height="50" class="logo" alt="">
                        The Bike Shop Experience
                        </a>
                </nav>
            </div> 

        <h1>Merci pour votre commande !</h1>
        <h5>
            Merci beaucoup pour votre commande et surtout pour la moindre question allez voir ailleurs merci !
        </h5>
    </body>
</html>
